<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register</title>
  </head>
  <body>
    <div>
      {{ message }}
    </div>
    <h1>Register Page</h1>
    <form action="{{ url_for('register') }}" method="post">
      <input type="text" placeholder="username" name="username" />
      <input type="password" placeholder="password" name="password" />
      <input
        type="password"
        placeholder="re-entered password"
        name="re_entered_password"
      />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
